<%- include('include/header.html') %>
<div class="container" data-page="overview">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Operating System</h3>
                </div>
                <div class="panel-body text-center">
                    <strong><%= info.OperatingSystem %></strong>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Docker Version</h3>
                </div>
                <div class="panel-body text-center">
                    <strong><%= info.ServerVersion %></strong>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">CPU Cores</h3>
                </div>
                <div class="panel-body text-center">
                    <strong><%= info.NCPU %></strong>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Host Name</h3>
                </div>
                <div class="panel-body text-center">
                    <strong><%= info.Name %></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <a href="/containers" class="panel-heading btn btn-success btn-block">
                    <h3 class="panel-title">Containers</h3>
                </a>
                <div class="panel-body">
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <span class="label label-success">Running</span>
                            <h4><%= info.ContainersRunning %></h4>
                        </div>
                        <div class="col-xs-4">
                            <span class="label label-warning">Paused</span>
                            <h4><%= info.ContainersPaused %></h4>
                        </div>
                        <div class="col-xs-4">
                            <span class="label label-danger">Stopped</span>
                            <h4><%= info.ContainersStopped %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-success">
                <a href="/images" class="panel-heading btn btn-success btn-block">
                    <h3 class="panel-title">Images</h3>
                </a>
                <div class="panel-body">
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <h3><%= info.Images %></h3>
                            <span class="label label-info">Total Images</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('include/footer.html') %>
